body{
    margin: 0px 0px 0px 0px;
    margin-bottom: 0px;
    font-family: tahoma;
}
header{
    background-color: #354A21;
    margin-left: 0px;
}
nav{
    float: right;
    margin-top: -120px;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    position: right;
    margin-right: 10px;
}
nav li{
    display: inline-flex;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    padding: 10px 10px 5px 25px;
    background-color: white;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: #354A21;
    font-size: 1.0em;
}
nav li:hover{
    background-color : black;
    color : white;
}
nav a:hover{
    color: white;
}
div p{
    height: 20px;
}
.banner{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url(banner.png);
    background-size: cover;
    background-color: black;
    height: 220px;
    margin: -35px 0px 0px -20px;
}
.banner p{
    text-align: center;
    color: white;
    padding-top: 100px;
    font-size: 2em;
}
aside img{
    border: 5px solid #354A21;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
section h1{
    color: #354A21;
    font-weight: bold;
}
section article{
    display: inline-flex;
    margin-right: 20px;
    width: 250px;
    height: 250px;
}
section article img{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 10px;
    border: 5px solid #354A21;
    border-radius: 20px;
    width: 250px;
    height: 250px;
}
section{
    float: right;
    margin: -400px 15px -430px 0px;
    /* padding-left: 50px; */
    /* border: 5px solid red; */

}
section h3{
    color: #354A21;
    padding-right: -50px;
    padding-left: 400px;
    margin-top: 150px;
}
footer{
    background-color: #354A21;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 5px;
    height: 70px;
    color: white;
    margin-top: 200px;
}
footer p{
    margin-top: 20px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: rgb(27, 61, 255);
    text-decoration: underline;
}
.réseaux{
    float: right;
    margin-top: -50px;
    padding-right: 20px;
}
.réseaux img{
    width: 30px;
    height: 30px;
    background-color: white;
    border: 3px solid white;
    border-radius: 5px;
}
.réseaux img:hover{
    background-color: #354A21;
    border: none;
    width: 40px;
    height: 40px;
}